.Rproj.user
.Rhistory
.RData
.Ruserdata

Data_cluster/
Simulation_results_files/
#Data_new/
Extra_code/
Simulations_studies/
NSW_data_analysis/
Ding_Lu_EM/
Figures_pdf_files/


# Simulations
true_SACE_ver.R
Main_run_old/
N_5000/
N_2000_5000/

# Simulations_figures
old_code/
first_run/
plot_tables.R
plot_tables_other_measures.R

# Data_analsis
data_old_scripts/
data_files/
data_SA_old/
data_SA_clustering_and_bounds.R


#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations/true_SACE_ver.R
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_cluster/
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_new/
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations/Main_run_old/
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_analysis/data_OLD_scripts/
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations_figures/old_code/
#C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations_figures/first_run/


