.Rproj.user
.Rhistory
.RData
.Ruserdata
#Data_cluster3/
#Data_cluster2/
Data_cluster/
Extra_code/
#Extra_code2/
Simulations_studies/
Ding_Lu_EM/
#Ding_Lu_EM2/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_cluster/






