.Rproj.user
.Rhistory
.RData
.Ruserdata

Data_cluster/
Extra_code/
Simulations_studies/
NSW_data_analysis/
Ding_Lu_EM/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_cluster/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_new/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_analysis/data_main_old/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Data_analysis/data_OLD/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations_figures/OldCode/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations_figures/FirstDataRun/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Figures_folder/
C:/Users/tamir/Documents/A matching framework for truncation by death problems/Simulations/Main_run_old/

